@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.righteous {
  font-family: 'Righteous', sans-serif;
}



body {
  color: white;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
/* Remove spinner for number inputs in WebKit (Chrome, Safari, Edge) */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

/* Remove spinner in Firefox */
[type="number"] {
  -moz-appearance: textfield;
}

